<!--
*  Author: Kevin Suter
*  Description: This view is shown when the user tries to access a resource he or she is not authorized for.
*
-->
@{
    ViewData["Title"] = "Access Denied";
}
<header>
    <h1 class="text-danger">Access Denied.</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
