<div>
    @model List<PersonalIntranetBot.Models.OutlookEventsViewModel>;
    @{
        ViewData["Title"] = "My Calendar";
    }

    @if (!User.Identity.IsAuthenticated)
    {
        <br />
        <p>Choose <b>Sign in</b> at the top of the page and sign in with your work or school account.</p>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Upcoming events</h2>
        @await Component.InvokeAsync("EventTable", new
        {
            eventList = Model
        })

        Html.RenderPartial("MeetingDetailsModal");
        Html.RenderPartial("PeopleDetailsModal");

    }


    @section Scripts
        {
        <!-- For the meeting details modal dialog-->
        <script type="text/javascript">
            $(".descButton").click(function () {
                $("#meetingDetailsModal").find("#content").html($(this).attr("meeting-description"));
            });

            $(".descButton").click(function () {
                $("#meetingDetailsModal").modal("show");
            });

            $("#hideMeetingDetailsModal").click(function () {
                $("#meetingDetailsModal").modal("hide");
            });</script>
        <!-- For the people details modal dialog-->
        <script type="text/javascript">
            $(".peopleButton").click(function () {
                $("#peopleDetailsModal").find("#peopleDetailsModalTitle").html($(this).attr("attendee-name"));
                $("#peopleDetailsModal").find("#peopleDetailsModalAttendeeEmail").html($(this).attr("attendee-email"));
            });

            $(".peopleButton").click(function () {
                $("#peopleDetailsModal").modal("show");
            });

            $("#hidePeopleDetailsModal").click(function () {
                $("#peopleDetailsModal").modal("hide");
            });</script>
    }

</div>