<div>
    @model List<PersonalIntranetBot.Models.OutlookEventsViewModel>;
    @{
        ViewData["Title"] = "My Calendar";
    }

    @if (!User.Identity.IsAuthenticated)
    {
        <br />
        <p>Choose <b>Sign in</b> at the top of the page and sign in with your work or school account.</p>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Upcoming events</h2>
        @await Component.InvokeAsync("EventTable", new
        {
            eventList = Model
        })

        Html.RenderPartial("MeetingDetailsModal");
    }
</div>